{% extends 'base/base.html' %}
{% block page_content %}
  <!-- Pending Requests Card Example -->
     <form method="POST" class="form_inline">
            {% csrf_token %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">¿ Eliminar {{ obj.descripcion }} ?</div>
                    <button type="submit" class="btn btn-danger"> <i class="far fa-circle"></i>Si, Eliminar</button>
                   <!-- <a href="{% url 'Inv:categoria_list'%}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a> -->
                         <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a> 
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="far fa-circle fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </form>
{% endblock %}
{% block js_page %}
 
{% endblock %}
